

/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-blue: #096da7;
    --main-turquesa: #47c4f5;
    --main-gray2: #45567d;
    --main-gray: #303841;
    --main-black: #000000;
  }
  
  /* Base reset */
  * {
    margin: 0;
    padding: 0;
  }
  
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  /* A few media query to set some font sizes at different screen sizes.
   * This helps automate a bit of responsiveness.
   * The trick is to use the rem unit for size values, margin and padding.
   * Because rem is relative to the document font size
   * when we scale up or down the font size on the document
   * it will affect all properties using rem units for the values.
  */
  
  /* I am using the em unit for breakpoints
   * The calculation is the following
   * screen size divided by browser base font size
   * As an example: a breakpoint at 980px
   * 980px / 16px = 61.25em
  */
  /* @font-face{font-family:pricedown;font-style:normal;font-weight:400;src:local('Pricedown'),local('Pricedown-Regular'),url(http://allfont.net/cache/fonts/pricedown_3550c0dc18db282dbb540df631211e6c.woff) format('woff'),url(http://allfont.net/cache/fonts/pricedown_3550c0dc18db282dbb540df631211e6c.ttf) format('truetype')}
  /* 1200px / 16px = 75em */
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
 
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 35%;
    }
    }
  
  /* Base styles */
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
  }
  
  h1,
  h2 {
  
    font-family: 'pricedown', arial;

    font-weight: 500;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
    
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
    color: var(--main-gray2);
  }
  
  a {
    text-decoration: none;
    color: var(--main-white);

  
  }
  li {
    color: var(--main-gray2);
  }
  img {
    display: block;
    width: 100%;
  }
  



  /* nav */
  @import url('https://fonts.googleapis.com/css?family=Pricedown');
 i {
    margin-right: 10px;
  }
  /*----------multi-level-accordian-menu------------*/

  .navbar-mainbg{
    background-color:var(--main-white);
    padding: 0px;
  }
  #navbarSupportedContent{
    overflow: hidden;
    position: relative;
  }
  #navbarSupportedContent ul{
    padding: 0px;
    margin: 0px;
  }
  #navbarSupportedContent ul li a i{
    margin-right: 10px;
  }
  #navbarSupportedContent li {
    list-style-type: none;
    float: left;
  }
  #navbarSupportedContent ul li a{
    color:var(--main-black);
      text-decoration: none;
      font-size: 15px;
      display: block;
      padding: 20px 20px;
      transition-duration:0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      position: relative;
  }
  #navbarSupportedContent>ul>li.active>a{
    color:var(--main-white);
    background-color: transparent;
    transition: all 0.7s;
  }

  .hori-selector{
    display:inline-block;
    position:absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration:0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: var(--main-gray2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
  }
  .hori-selector .right,
  .hori-selector .left{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color:var(--main-gray2);
    bottom: 10px;
 
  }
  .hori-selector .right{
    right: -25px;
  }
  .hori-selector .left{
    left: -25px;
  }
  .hori-selector .right:before,
  .hori-selector .left:before{
    content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color:var(--main-blue);
  }
  .hori-selector .right:before{
    bottom: 0;
      right: -25px;
  }
  .hori-selector .left:before{
    bottom: 0;
      left: -25px;
  }
  
  
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;   
    background: var(--main-blue);
    box-shadow: 0 0.3rem 0 rgba(0, 0, 0, 0.733);
    z-index: 10;
  }

  
  /* Welcome section */

  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  }


  .welcome-section h1 {
    font-family: 'pricedown', arial;
       margin-bottom: 10rem;
  }
  
  .welcome-section p {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-blue);
  }
  
   
   .navigationwelcome{          
          grid-area: navigationwelcome;
          
        }
      
    .left-column{                
          grid-area: left-column;         
          justify-self: end;
        }

    .right-column{          
          grid-area: right-column;
        }


#wrapperwelcome{
  display:grid;
  grid-template-columns: 1fr 1fr;
   grid-template-rows:10em 30em;
   grid-template-areas: "navigationwelcome navigationwelcome"
                        "left-column right-column ";
  gap: 2rem;
  margin: 10rem;
  margin-top: 50rem;
  align-items: start;
}
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    #wrapperwelcome {      
      row-gap: 10rem;
       }
       .navigationwelcome{          
        grid-area: navigationwelcome;
        align-content: end;
        font-size: 80%;
      }
      .welcome-section p {
        font-size: 80%;
       
      }
 
  }

@media (max-width: 28.75em) {
  #wrapperwelcome {  
   row-gap: 10rem;
    }
    .navigationwelcome{          
      grid-area: navigationwelcome;
      align-content: end;
      font-size: 80%;
    }

    .welcome-section p {
      font-size: 80%;
     
    }
}
  /* Projects section */
  
  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-gray2);
    border-top: 0.3rem solid var(--main-blue);
    width: 100%;
    height:100vh;
 
  }
  

  .projects-section2 {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-gray2);
    border-top: 0.3rem solid var(--main-blue);
    width: 100%;
    height:auto;

  }

  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
   
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;


    }
  }
  
  /* "Automagic" image grid using no media queries */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
   
  }
  
  .code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: #ff7f50;
  }
  
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
    
  }
  

  .btn-contact {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    background-color:var(--main-gray);
    color: var(--main-white);
  }

  .btn-contact:hover {
    color: var(--main-white);
  }
  
  .btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
  }
  
  .btn-show-all:hover {
    background: var(--main-blue);
  }
  
  .btn-show-all:hover > i {
    transform: translateX(2px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
  
  /* Contact section */
  
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90vh;
    padding: 0 2rem;
    background: var(--main-gray);
    border-top: 0.3rem solid var(--main-blue);
    
  }
  
  .contact-section-header > h2 {
    font-size: 6rem;
    font-family: 'pricedown', arial;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
      
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  

  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
  /* Footer */
  
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    height: 10vh;
    background: var(--main-gray);
    border-top: 0.5rem solid var(--main-blue);
  }
  
  footer > p {
    margin: 2rem;
  }
  
  footer i {
    vertical-align: middle;
  }
  
  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }